@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222831;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow-x: hidden;
}

.text-max {
  font-size: 180px;
}

.text-min {
  font-size: 120px;
}

.animate__delay {
  animation-delay: 0.75s;
}

.animate__delay-1s {
  animation-delay: 1.25s;
}

.hero__img {
  max-width: min(80vw, 700px);
}

.grid__header {
  grid-template-rows: 1fr min;
}

.grid__header--sub {
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr 1fr;
}
.grid__image {
  grid-template-columns: 0.5fr 0.5fr 0.15fr;
  grid-template-rows: 0 min min;
}

.top--img {
  top: 360px;
}

.h--img {
  height: 40vh;
  grid-row: 1/6;
}

.menu {
  width: 50px;
}

.img__rank {
  bottom: -33px;
}

.img__card {
  max-width: 690px;
}
.blob {
  top: -60px;
}

.grid__category {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 93px);
  align-items: center;
  justify-items: center;
}

.grid__category:hover {
  /* text-shadow: 0px -1px 50px #222831; */
}

.img__category {
  width: 300px;
  height: 280px;
  filter: grayscale(0%);
}

.font-darken {
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
}

.input {
  background-color: transparent;
  /* color: #00adb5; */
}

.input:focus {
  outline: none;
  border-color: #00adb5;
  animation-timing-function: ease-in-out;
}
